<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
    failOnRisky="true"
    failOnWarning="true"
>
  <testsuites>
    <testsuite name="unit">
      <directory>Tests/Unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>Tests/Integration</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>Tests/Functional</directory>
    </testsuite>
  </testsuites>

  <php>
    <env name="_DB_HOST_" value="127.0.0.1"/>
    <env name="_DB_NAME_" value="savycplus"/>
    <env name="_DB_USER_" value="root"/>
    <env name="_DB_PASS_" value=""/>

    <!-- BD de seguridad (tests) -->
    <env name="_SEC_DB_HOST_" value="localhost"/>
    <env name="_SEC_DB_NAME_" value="securityapp"/>
    <env name="_SEC_DB_USER_" value="root"/>
    <env name="_SEC_DB_PASS_" value=""/>

    <!-- Selenium -->
    <env name="SELENIUM_HUB_URL" value="http://localhost:4444"/>
    <env name="APP_BASE_URL" value="http://localhost/sistema/sistema"/>
    <env name="BROWSER" value="chrome"/>
  </php>
</phpunit>
